<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- params: parent, xyz, rpy -->
  <xacro:macro name="d435_mount" params="parent xyz:='0.02 0 0.015' rpy:='0 0 0'">
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:sensor_d435 name="camera" topics_ns="camera" parent="${parent}" publish_pointcloud="true">
      <origin xyz="${xyz}" rpy="${rpy}" />
    </xacro:sensor_d435>
  </xacro:macro>
</robot>
